body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#section-b, #section-c{
  max-width: 450px;
background: whitesmoke;
padding: 30px;
margin: 50px auto;
box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  display: block;
  text-align: center;
}

h3{
  font-size: 30px;
}

form input{
  margin: 1em;
  padding: 1em;
  border-radius: 2px;
}

button{
  padding: 0.5em;
  width: 5em;
  background-color: whitesmoke;
}

.bg_image {
  background-image: url("../images/background-design-marble-850796.jpg"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

a{
  text-decoration: none;
}

.message{
  border: 2px solid;
  border-radius: 20%;
  padding: 5px;
  margin: 5px;
}
